@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@font-face {
  font-family: Nimbus;
  src: url('../src/assets/fonts/TAN-NIMBUS.woff2');
}

@import "tailwindcss";


@theme{
    --font-sail: Sail, "sans-serif";
    --font-playfair: PlayFair Display, "san-serif";
    --font-nimbus: Nimbus, "sans-serif";
    --font-quicksand: Quicksand, "sans-serif";
    --font-merienda: Merienda, "sans-serif";
    --font-nunito: Nunito, "sans-serif";
    --font-pacifico: Pacifico, "sans-serif";
}
